	<ion-view view-title="{{ dashboard.snippet.title }}" hide-nav-bar="true" >
		<ion-nav-title>{{ dashboard.snippet.title }}</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"  header-shrink="true" scroll-event-interval="5"   id="page-dashboard_singles" class="page-dashboard_singles">
		    
<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
<div class="list">

	<div class="item item-title" ng-bind-html="dashboard.snippet.title | to_trusted">
    {{dashboard.snippet.title}}
    </div>
    
	<div class="item noborder" ng-if="dashboard.snippet.resourceId.videoId" >
        <div class="embed_container">
            <iframe 
                width="100%" 
                ng-src="{{ 'https://www.youtube.com/embed/' + dashboard.snippet.resourceId.videoId + '?enablejsapi=1' | trustUrl }}" 
                frameborder="0" 
                allowfullscreen>
            </iframe>
        </div>
    </div>
	<div class="item item-text-wrap noborder to_trusted" 
        ng-bind-html="dashboard.snippet.description | strHTML">
    </div>
    
    <div class="item item-text-wrap text-center noborder">
        <button class="button button-assertive">Open With Youtube App</button>
    </div>
    
</div>

    
    
		</ion-content>
		<!-- ./content -->
	</ion-view>
